.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.path.check {
    stroke-dashoffset: -100;
}

.animate {
    -webkit-animation: dash-check 0.9s 0s ease-in-out forwards;
    animation: dash-check 0.9s 0s ease-in-out forwards;
}

.animate-exclamation {
    -webkit-animation: zoom-and-bounce 0.5s 0.2s ease-in-out forwards;
    animation: zoom-and-bounce 0.5s 0.2s ease-in-out forwards;
}

p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
}

p.success {
    color: #73AF55;
}

p.error {
    color: #D06079;
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}

@-webkit-keyframes zoom-and-bounce {
    0% {
        font-size: 16pt;
    }

    90% {
        font-size: 110pt;
    }

    100% {
        font-size: 100pt;
    }
}

@keyframes zoom-and-bounce {
    0% {
        font-size: 16pt;
    }

    90% {
        font-size: 110pt;
    }

    100% {
        font-size: 100pt;
    }
}