.main-layout {
    .content {
        overflow: scroll;
        justify-content: flex-start;
        align-items: flex-start;

        .slide-gallery {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;

            width: 100%;
            margin-top: 2.5em;

            .item {
                margin: 1em 1em;

                img {
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.6);
                }

                img:hover {
                    opacity: 0.75;
                }

                img:active {
                    box-shadow: initial;
                    opacity: 0.75;
                }
            }
        }
    }
}