$backgroundColor: #eff2f1;
$mainColor: #80e29e;

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $backgroundColor;
}

.main-layout {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 93%;
        flex-direction: column;
    }
}

.top-bar {
    display: flex;
    align-items: center;
    height: 7%;
    width: 100%;
    z-index: 1000;
    background-color: $mainColor;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    >.top-bar-logo {
        padding: 5px;
        height: 100%;
        box-sizing: border-box;

        img {
            height: 100%;
        }
    }

    >.top-bar-title {
        text-align: center;
        font-size: large;
        font-weight: bold;
    }
}

.button {
    border: 1px solid #777;
    background: $mainColor;
    color: #fff;
    font: bold 11px;
    padding: 4px 8px;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    &:hover {
        background-color: scale-color($mainColor, $lightness: -20%);
    }

    &:active {
        background-color: scale-color($mainColor, $lightness: -40%);
    }
}

.hidden {
    display: none;
}

/* Upload page */
.upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    +label {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        display: inline-block;
    }

    +label {
        cursor: pointer;
        /* "hand" cursor */
    }

    +label * {
        pointer-events: none;
    }

    +label figure {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: block;
        padding: 30px;
        margin: 0 auto 10px;
    }

    :focus+label figure,
    +label:hover figure {
        border: dotted #b8b8b8;
    }

    +label img {
        width: 100%;
        height: 100%;
        fill: #f1e5e6;
    }
}

.upload-box {
    height: 200px;
    width: 200px;

    >svg {
        height: 100%;
        width: 100%;
    }

    .percentage {
        font: bold 40px small-caption;
        font-family: 'Inconsolata', monospace;
    }

    .exclamation {
        font-size: 0pt;
        fill: red;
        display: none;
        font-family: 'Inconsolata', monospace;
    }

    .circle-progress {
        stroke: #77d192;
    }

    .circle-error {
        stroke: red;

        +.exclamation {
            display: unset;
        }
    }
}

.copy-link-box {
    text-align: center;
    padding: 20px;
    height: 2.5em;
    font-size: 14pt;

    .room-link {
        padding: 4px;
        border: 1px solid #b8b8b8;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        height: 100%;
        width: 30em;
    }

    .copy-button {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        margin-left: -1em;
        height: 100%;
    }
}