.viewer-container {
    width: 90%;
    height: 90%;
    text-align: center;

    >canvas {
        width: 100%;
        height: 100%;
    }
}

.buttons {
    margin-left: auto;
    margin-right: 1%;
    height: 80%;

    >.button {
        padding-left: 1em;
        padding-right: 1em;
        height: 100%;
    }
}